
*{
  box-sizing: border-box;
  margin: 0;
  padding:0;
}

.block1{
  background-color: white;
  border:1px solid rgb(135,206,235);
  border-radius: 7px;
 /* height:11rem;
 width:16rem; */
 margin:1rem;
 color:white;
 /* text-align: center; */
 /* font-size: 5rem; */
}
.block2{
  background-color: white;
  border:1px solid rgb(135,206,235);
  border-radius: 25px;
 height:20rem;
 width:16rem;
 margin:1rem;
 color:white;
 text-align: center;
 font-size: 5rem;
 margin-top: 80px;
 display: inline-block;
}
.block3{
display: inline-block;
  background-color: white;
  border:1px solid rgb(135,206,235);
  border-radius: 25px;
 height:10rem;
 width:16rem;
 margin:1rem;
 color:white;
 text-align: center;
 font-size: 5rem;
 margin-top: 80px;
}




//dropdown//

.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}



.vertical-menu {
  width: 200px;
  height: 150px;
  overflow-y: auto;
}

.vertical-menu a {
  background-color: #eee;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
}

.vertical-menu a:hover {
  background-color: #ccc;
}

.vertical-menu a.active {
  background-color: #04AA6D;
  color: white;
}
